In [1]:
%matplotlib inline


import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Configure libraries
# The seaborn library makes plots look nicer
sns.set()
sns.set_context('talk')

# Don't display too many rows/cols of DataFrames
pd.options.display.max_rows = 7
pd.options.display.max_columns = 8

# Round decimals when displaying DataFrames
pd.set_option('precision', 2)

In [2]:
df = pd.read_csv("designer.csv")
df = df[['Job Title', 'Salary Estimate', 'Industry', 'Sector','Location']]
df['Location'] = df['Location'].str[0:-4]
df

,Job Title,Salary Estimate,Industry,Sector,Location
0,Product Designer,$129K-$153K (Glassdoor est.),Internet,Information Technology,Mountain View
1,Product Designer: Subscriptions,$129K-$153K (Glassdoor est.),Publishing,Media,Washington
2,Fire Sprinkler System Designer,$129K-$153K (Glassdoor est.),Construction,"Construction, Repair & Maintenance",Rockford
...,...,...,...,...,...
997,Senior Product Design/UX Manager,$94K-$187K (Glassdoor est.),Home Furniture & Housewares Stores,Retail,Boston
998,Senior User Experience Designer,$94K-$187K (Glassdoor est.),Enterprise Software & Network Solutions,Information Technology,Houston
999,"Experience Designer (UX, UI, Visual)",$94K-$187K (Glassdoor est.),IT Services,Information Technology,Denver

In [3]:
location = df['Location'].value_counts()
dflocation = pd.DataFrame(location)
dflocation = dflocation[dflocation['Location'] > 4]
dflocation.to_csv('living_cost_dsgn.csv')

It is shown that SF has 110 of the listings, New York has 82 and LA has 63 of the listings at

In [4]:
df1 = pd.read_csv("datasscientist.csv")
df1 = df1[['Job Title', 'Salary Estimate', 'Industry', 'Sector','Location']]
df1['Location'] = df1['Location'].str[0:-4]
df1

,Job Title,Salary Estimate,Industry,Sector,Location
0,Data Scientist,$108K-$145K (Glassdoor est.),Research & Development,Business Services,Chantilly
1,Data Scientist,$108K-$145K (Glassdoor est.),Lending,Finance,Detroit
2,Data Scientist,$108K-$145K (Glassdoor est.),Food & Beverage Manufacturing,Manufacturing,New York S
...,...,...,...,...,...
997,Sr. Principal Data Scientist,$119K-$188K (Glassdoor est.),Aerospace & Defense,Aerospace & Defense,Fairfax
998,Senior Data Scientist,$119K-$188K (Glassdoor est.),Computer Hardware & Software,Information Technology,Boston
999,Data Scientist,$119K-$188K (Glassdoor est.),Real Estate,Real Estate,San Francisco

In [5]:
location1 = df1['Location'].value_counts()
dflocation1 = pd.DataFrame(location1)
dflocation1 = dflocation1[dflocation1['Location'] > 4]
dflocation1.to_csv('living_cost_ds.csv')